.cards .card1 {
    
    margin-top: 100px;
    margin-left: 150px;
    background: rgba(11, 141, 141, 0.596);
    display: flex;
    width: 30%;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  }
  
  .cards .card1 img {
  
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 50%;
    
  
  }
  
  
  