*{
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  
}

.titulo{
  color: rgba(17, 17, 16, 0.795);    
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 110px;
  text-shadow: 4px 4px 4px #eeeaea;
}

.T{
  color: #3b3939;
}

.T:hover{
  color: #5e5b5b;
}


body{  
  background-image:  url("./Imagenes/fondo.webp");
  background-size: cover;
  background-attachment: fixed; 
  background-position:end;
  background-color: hsl(0, 100%, 100%);
  
  
}




.Carrito{
  
 
  font-size: 35px;  
  border-radius: 19px;
  color: rgb(97, 49, 35);
  margin-bottom: 40px;
  margin-top: 10px; 
  margin-left: 1500px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}



.modal-title{

  font-size: 50px;
  margin-left: 300px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.modal-content{
  
  width: 798px;
  
   
}

.table{
  
  margin-right: 10px;
  font-size: 20px;
  display: flexbox;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.Navegador{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 120px;

  
}

nav >div>lu{
  color: #0e0a0af6; 
  margin-left: 30px;
  margin-right: 30px;  
  font-size: 50px;
  font-style: oblique;
  text-shadow: 2px 2px 2px #777171;
  display: flex;

}

nav > div> lu:hover{
  text-decoration: underline;

}

li{
  font-size: 30px;
}

.Lista {
  
  color: azure;
}

.container3{

  background-color: white;
  display:inline-block;
}

.container1{

  display:flex;


}

.container{
    
   max-width: 600px;

}
footer{
  background: #eec67bee;
  opacity: 75%;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-size: 30px; 
  

 }

 .contenedor-footer{
  width: auto;
  font-size: 30px; 
  border-bottom: 4px solid rgb(199, 125, 65);
  margin-left: 60px;
  margin-right: 60px;
  
  

 }


 .content-foo h4{
  color: black;
  font-size: 30px; 
  font-style: italic;
  margin-top: 20px;
  border-bottom: 4px solid rgb(204, 63, 20) ;
  

 }
 
